body {
  height: 100%;
  width: 100%;
}

.container-first {
  height: 100%;
  width: 100%;
  background-image: url(images/image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container-first .row .colorer .coloured{
  background-color: lightgrey;
}
